# Ignore venv
venv/
.venv/

# Ignore dataset files
data/raw/
data/processed/
*.zip

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# macOS files
.DS_Store